<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="col-sm">
    <div>
      <p class="text-sm-center">
        Soa Co is a sustainable fashion brand specializing in second-hand
        clothing, offering carefully selected, high-quality pieces for men and
        women. At Soa Co, we believe in the power of reusing and upcycling
        fashion to reduce waste and promote eco-conscious living. Our collection
        features a wide range of stylish and unique items that give preloved
        clothes a new life, allowing customers to embrace sustainability without
        compromising on style.
      </p>
    </div>
    <div class="col-sm my-2 d-flex justify-content-center align-items-center">
      <a routerLink="authentication/login" class="btn btn-primary mx-1"
        >Login</a
      >
      <a routerLink="authentication/register" class="btn btn-success mx-1"
        >Register</a
      >
    </div>
  </div>
</div>
