<div class="d-flex justify-content-center flex-column">
  <div>
    <p>
      Soa Co is a sustainable fashion brand specializing in second-hand
      clothing, offering carefully selected, high-quality pieces for men and
      women. At Soa Co, we believe in the power of reusing and upcycling fashion
      to reduce waste and promote eco-conscious living. Our collection features
      a wide range of stylish and unique items that give preloved clothes a new
      life, allowing customers to embrace sustainability without compromising on
      style.
    </p>
  </div>
  <div mx-1>
    <a routerLink="authentication/login" class="btn btn-link">Login</a>
    <a routerLink="authentication/register" class="btn btn-link">Register</a>
  </div>
</div>
