<div class="container-md">
  <div class="d-flex flex-column justify-content-center">
    <div class="col-sm">
      <div>
        <h4>Join us</h4>
        <p>Fill the form bellow to join us</p>
      </div>
      <form
        [formGroup]="registerForm"
        (ngSubmit)="onRegister($event)"
        novalidate
      >
        <form-control
          [id]="'email'"
          [type]="'text'"
          formControlName="email"
          [errors]="getError('email')"
          [inputNgClass]="getClass('email')"
        ></form-control>

        <form-control
          [id]="'username'"
          [type]="'text'"
          formControlName="username"
          [errors]="getError('username')"
          [inputNgClass]="getClass('username')"
        ></form-control>

        <form-control
          [id]="'password'"
          [type]="'password'"
          formControlName="password"
          [errors]="getError('password')"
          [inputNgClass]="getClass('password')"
        ></form-control>

        <form-control
          [id]="'passwordCheck'"
          [type]="'password'"
          formControlName="passwordCheck"
          [errors]="getError('passwordCheck')"
          [inputNgClass]="getClass('passwordCheck')"
        ></form-control>

        <button type="submit" class="btn btn-primary btn-sm">Register</button>
      </form>
    </div>
  </div>
</div>
