<!-- TODO : 
 
  -fix button size
  -form size

-->
<div class="row justify-content-center">
  <div class="col-sm-10 col-md-7 col-lg-5">
    <div class="col-sm">
      <div class="row">
        <h4>Login to Your Account</h4>
        <p>
          Welcome back! Please enter your credentials to access to your account.
        </p>
      </div>
      <div class="row">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin($event)" novalidate>
          <form-control
            [id]="'email'"
            [type]="'text'"
            [label]="'Email'"
            formControlName="email"
            [errors]="getError('email')"
            [inputNgClass]="getClass('email')"
          ></form-control>
          <form-control
            [id]="'password'"
            [type]="'password'"
            [label]="'Password'"
            [isPassword]="true"
            formControlName="password"
            [errors]="getError('password')"
            [inputNgClass]="getClass('password')"
          ></form-control>
          <div class="row">
            <div class="col-12 col-sm-5">
              <button type="submit" class="btn btn-primary w-100">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
