<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="col-sm">
    <div>
      <h4>Login to Your Account</h4>
      <p>Welcome back! Please enter your credentials to access your account.</p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin($event)" novalidate>
      <form-control
        [id]="'email'"
        [type]="'text'"
        formControlName="email"
        [errors]="getError('email')"
        [inputNgClass]="getClass('email')"
      ></form-control>
      <form-control
        [id]="'password'"
        [type]="'password'"
        formControlName="password"
        [errors]="getError('password')"
        [inputNgClass]="getClass('password')"
      ></form-control>
      <div class="d-grid col-6 m-e-0">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
