<!-- TODO : 
 
-->
<div [class]="containerClass">
  <input
    [type]="type"
    [class]="inputClass"
    [id]="id"
    [name]="name"
    [value]="value"
    [ngClass]="inputNgClass"
    [disabled]="isDisabled ? 'disabled' : ''"
    (input)="onInputChanged($event)"
  />
  <label [for]="id"
    >{{ label }}
    <span *ngIf="isPassword" (click)="tooglePasswordVisibility()">
      <fa-icon
        class="clickable-icon"
        [icon]="showPassword ? faLockOpen : faLock"
      ></fa-icon>
    </span>
  </label>
  <div *ngIf="errors.length > 0">
    <div class="errors" *ngFor="let error of errors">
      <small>{{ error }}</small>
    </div>
  </div>
</div>
